<br/ >
<br/ >
<h1>New Team</h1>


<%= form_tag(teams_url, method: 'post') do %>


  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>

  <div>
    <%= label_tag :coach %><br />
    <%= text_field_tag :coach %>
  </div>

  <div>
     <%= label_tag :game_id %><br />
    <%= select_tag :game_id, options_from_collection_for_select(Game.all, :id,
    :event) %>
  </div>

  <div>
    <%= label_tag :call_id %><br />
    <%= number_field_tag :call_id %>
  </div>


  <div>
    <%= submit_tag "Create Team" %>
  </div>
<% end %>
