<h1>New Upvote</h1>


<%= form_tag(upvotes_url, method: 'post') do %>


  <div>
    <%= label_tag :user_id %><br />
    <%= number_field_tag :user_id %>
  </div>

  <div>
    <%= label_tag :call_id %><br />
    <%= number_field_tag :call_id %>
  </div>


  <div>
    <%= submit_tag "Create Upvote" %>
  </div>
<% end %>
