<h1>Fouls</h1>

<p><%= link_to 'Add a New Foul', new_foul_url %></p>

<table>
  <thead>
    <tr>
      <th>Fouls type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @fouls.each do |foul| %>
    <tr>
      <td><%= foul.fouls_type %></td>
  
      <td><%= link_to 'Show', foul_url(foul) %></td>
      <td><%= link_to 'Edit', edit_foul_url(foul) %></td>
      <td><%= link_to 'Destroy', foul_url(foul), method: 'delete', data: { confirm: "Do you really want to delete this foul?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

