<br/ >
<br/ >
<center><h1>Challenges</h1></center>

<center><p><%= link_to 'CHALLENGE!', new_call_url, :class => 'btn btn-large btn-danger' %></p></center>
<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th class= 'table_head'>Comit Player</th>
      <th class= 'table_head'>Team</th>
      <th class= 'table_head'>Fouled Player</th>
      <th class= 'table_head'>Team</th>
      <th class= 'table_head'>Game</th>
      <th class= 'table_head'>Ref</th>
      <th class= 'table_head'>Foul type</th>
      <th class= 'table_head'>Quarter</th>
      <th class= 'table_head'>Time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @rank.each do |call| %>
    <tr>
      <td><%= call.comit_player.name %></td>
      <td><%= call.comit_player.team.name %></td>
      <td><%= call.fouled_player.name %></td>
      <td><%= call.fouled_player.team.name %></td>
      <td><%= call.game.event %></td>
      <td><%= call.ref.name %></td>
      <td><%= call.foul.fouls_type %></td>
      <td><%= call.quarter %></td>
      <td><%= call.time %></td>

      <td>
        <%= form_tag votes_url, method: 'post' do %>
          <%= hidden_field_tag :user_id, session[:user_id] %>
          <%= hidden_field_tag :call_id, call.id %>
          <%= button_tag 'Disagree', :class => 'btn btn-danger' %>
        <% end %>
      </td>

      <td>
        <%= form_tag upvotes_url, method: 'post' do %>
          <%= hidden_field_tag :user_id, session[:user_id] %>
          <%= hidden_field_tag :call_id, call.id %>
          <%= button_tag 'Agree', :class => 'btn btn-success' %>
        <% end %>
      </td>


    </tr>
  <% end %>
  </tbody>
</table>

