<br/ >
<br/ >
<h1>New Call</h1>


<%= form_tag(calls_url, method: 'post') do %>

  <div>
    <%= label_tag :comit_player_id %><br />
    <%= select_tag :comit_player_id, options_from_collection_for_select(Player.all, :id,
    :name) %>
  </div>

  <div>
    <%= label_tag :fouled_player_id %><br />
    <%= select_tag :fouled_player_id, options_from_collection_for_select(Player.all, :id,
    :name) %>
  </div>

  <div>
    <%= label_tag :game_id %><br />
    <%= select_tag :game_id, options_from_collection_for_select(Game.all, :id,
    :event) %>
  </div>

  <div>
    <%= label_tag :ref_id %><br />
    <%= select_tag :ref_id, options_from_collection_for_select(Ref.all, :id,
    :name) %>
  </div>

  <div>
    <%= label_tag :foul_id %><br />
    <%= select_tag :foul_id, options_from_collection_for_select(Foul.all, :id,
    :fouls_type) %>
  </div>

  <div>
    <%= label_tag :quarter %><br />
    <%= number_field_tag :quarter %>
  </div>

  <div>
    <%= label_tag :time %><br />
    <%= text_field_tag :time %>
  </div>


  <div>
    <%= submit_tag "Create Challenge", :class => 'btn btn-danger' %>
  </div>
<% end %>
