  <br/ >
<br/ >
<h1>Call #<%= @call.id %></h1>

<p>
  <b>Commit Player:</b>
  <%= link_to @call.comit_player.name, player_url(
  @call.comit_player.id) %>
</p>

<p>
  <b>Fouled Player:</b>
  <%= link_to @call.fouled_player.name, player_url(
  @call.fouled_player.id) %>
</p>

<p>
  <b>Game:</b>
  <%= link_to @call.game.event, game_url(@call.game.id) %>
</p>

<p>
  <b>Ref:</b>
  <%= link_to @call.ref.name, ref_url(@call.ref.id) %>
</p>

<p>
  <b>Foul type:</b>
  <%= link_to @call.foul.fouls_type, foul_url(@call.foul.id) %>
</p>

<p>
  <b>Quarter:</b>
  <%= @call.quarter %>
</p>

<p>
  <b>Time:</b>
  <%= @call.time %>
</p>

<p>
  <b>Disagrees:</b>
  <%= @call.votes.count %>
</p>

<p>
  <b>Agrees:</b>
  <%= @call.upvotes.count %>
</p>

</p>

<ul>

<% @comments.each do |n| %>
  <%= render 'note_row', :comment => n %>
<% end %>

</ul>

<%= form_for(Comment.new, remote: true) do |f| %>
    <%= f.text_field :text_box, placeholder: 'Add a comment...' %>
<% end %>

