<br/ >
<br/ >
<h1>User #<%= @user.id %></h1>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Challenge rating:</b>
  <%= @user.challenge_rating %>
</p>


