<br/ >
<br/ >
<h1>New Ref</h1>


<%= form_tag(refs_url, method: 'post') do %>


  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>

  <div>
    <%= label_tag :number %><br />
    <%= number_field_tag :number %>
  </div>

  <div>
     <%= label_tag :game_id %><br />
    <%= select_tag :game_id, options_from_collection_for_select(Game.all, :id,
    :event) %>
  </div>


  <div>
    <%= submit_tag "Create Ref" %>
  </div>
<% end %>
